/*-- scss:defaults --*/

// $font-family-sans-serif: 'Manrope', sans-serif;
// $presentation-heading-font: 'IBM Plex Serif', serif;

// fonts

$font-family-sans-serif: 'SimHei', 'Yanone Kaffeesatz', 'Droid Serif', 'Microsoft YaHei', 'Songti SC', serif !default;
// $font-family-sans-serif: "Roboto", "Fira Sans", "Droid Serif", serif !default;
$font-family-monospace: "JetBrains Mono", "Fira Code", monospace;
$presentation-font-size-root: 32px; //32px
$presentation-line-height: 1.5em;
$presentation-heading-font-weight: 400;
/*
$toc-font-size: 5em;
$toc-color: #0072B2;
*/


// Reveal colors-1
$body-bg: #fafafa !default;
$body-color: #000 !default;
$light-blue: #56B4E9 !default;
$pale-blue: #CEE9FF !default;
$dark-blue: #0072B2 !default;
$light-grey: #EDEEEF !default;
$grayish-black: #474747 !default;
$greenish-black: #23373B !default;
$grey: #E5E5E5 !default;
$dark-grey: #6C7B7F !default;
$pink: #EC99C6 !default;
$orange: #E69F00 !default;
$green: #009E73 !default;


// Reveal colors-2:
$body-bg: #F9E0D9;
$body-color: #37392E;
$link-color: #6A395B;
$presentation-heading-color: #6A395B;
$code-block-bg: #F8F2F3;
$code-block-border-color: #000000;
$code-block-border-radius: 10px;
$code-color: $presentation-heading-color;
$code-bg: #F8F2F3;
$tabset-border-color: $presentation-heading-color;

// Reveal colors-3:
/*
$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

$body-bg: $theme-darkblue;
$body-color: $theme-white;
$link-color: $theme-blue;
$presentation-heading-color: lighten($theme-blue, 15%);
*/

// $link-color: #EB811B !default;
$selection-bg: #26351c;

// headings
// $presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
//   FreeSerif, serif !default;
// $presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
	line-height: 1.5em;
	color: #eb811b;
	font-weight: 300;
}

.reveal .footer a{ //a
	color: #eb811b !important;
	font-size: 70%; //16px
}

.reveal p {
	font-weight: 300;
	font-size: 120%;
}

.reveal .slide ul li,
.reveal .slide ol li {
	font-weight: 300;
	font-size: 100%; //120%
//	font-family: MicrosoftYaHei-Bold;
}

// maximum height of code blocks before scrolling is used
.reveal pre.sourceCode code {
	max-height: 700px; // default 500
}


/*
.title-slide { 
  background-size: cover;
  background-color: $greenish-black;
  color: $light-grey;
}
*/

h1.title {
  background-color: rgb(70, 70, 255); // 标题加background
	padding: 5px 0px 5px 10px;
  color: $orange;
	border-radius: 24px;
  font-size: 72px;
}
p.subtitle {
	// margin-top: -10px;
	// padding-bottom: -20px;
  color: $light-blue;
  text-shadow: none;
  font-size: 48px; //72px
  font-weight: bold;
}

.quarto-title-authors {
  color: #fafafa;
  font-size: 36px;
  font-family: $presentation-heading-font;
}


p.date {
	color: #1a292c;
	text-shadow: none;
	font-weight: 300;
	font-size: 36px;
//	text-align: left;
	margin-left: 15px;
	color: #eb811b;
	// margin-bottom: -30px;
}

p.subtitle:after {
	content: "";
	display: block;
	border: none;
	background-color: #eb811b;
	color: #eb811b;
	height: 1px;
	margin: 25px 0 25px;
}


.reveal .slide-number a{
	//  color: $link-color;
		font-size: 80%;
		color: #EC99C6;
		background-color: $grayish-black; // #fafafa;
		border-radius: 24px;
		padding: 5px;
	}
	

// inline
/*.reveal code {
	font-size: 70%;
	background-color: cyan; //#afb8c133; 
	color: #000;
	padding: 4px;
	border-radius: 6px;
}
*/

code {
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
  }

  

// code blocks
.reveal div.sourceCode pre code {
	font-size: 150%;
}

// code output
.reveal pre code {
	font-size: 100%;
	padding-top: 15px;
}

.colored-column {
	border: 2px solid red;
	border-radius: 6px !important;
	padding: 10px;
	margin: 5px;
}

.column {
	// #column;
	// border: 2px solid red;
	border-radius: 10px !important;
	padding: 30px;
	margin: 10px;
	// background-color: #ededed;
	background-color: #eeeeee;
}


.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.panel-tabset [role="tablist"] {
  border-bottom: 5px solid $tabset-border-color;
  list-style: none;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
}

.panel-tabset [role="tab"] {
  border: 1px solid $tabset-border-color;
  border-top-color: $tabset-border-color;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 0.75em;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 2px;
}

.panel-tabset [role="tab"][aria-selected="true"] {
  background-color: $presentation-heading-color;
  color: $body-bg;
}

.reveal h1 {
  background-color: rgb(70, 70, 255); // 标题页的标题加background
	padding: 5px 0px 5px 10px;
    color: $orange;
	border-radius: 24px;
    font-size: 72px;
}

// Slides with frometitle shaded
.reveal h2 {
	background-color: #cacdcd;
	padding: 5px 0px 5px 10px;
	color: #fafafa;
	border-radius: 24px;
    font-size: 72px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
}

// Slides with frometitle shaded //slide-level: 3

.reveal h3 {
	background-color: #23373b;
	padding: 5px 0px 5px 10px;
	color: #fafafa;
	border-radius: 12px;
  }
  

.small-font {
	font-size: 70%;
}

iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.center {
	text-align: center;
}


.reveal .progress {
	color: #23373b;
}

/* Figures */
.reveal figcaption {
  font-size: 100%;
  font-weight: 500;
  color: #0000FF;
  text-align: center;
}

/* Tables */
.reveal table caption {
  font-size: 100%;
  font-weight: 500;
  color: #0000FF;
  text-align: center;
}



// 自定义， 2024.5.30

// TOC agenda
.agenda {
}

.agenda-slide h1 {
  size: 0em;
  display: none;
}

.agenda-inactive {
  opacity: 0.25;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.agenda-active {
  margin-top: -0.5em;
  margin-bottom: -0.5em;
}

.figure {
	text-align: center;
  }

/*  分栏设定   */
/*  不等宽双栏  */
.left-column {
	color: blue;
	width: 33%; /* height: 92%;  */
	float: left;
	/* background-color: #CCCC99; */
	padding-top: 0em;
}
  
.left-column h2:last-of-type, .left-column h3:last-child {
	color: #000;
}
  
.right-column {
	color: blue;
	width: 66%;
	float: right;
	background-color: #CCCCFF;
	padding-top: 0em;
}
  
  
/*  等宽双栏  */
.pull-left {
	float: left;
	width: 47%;
}
  
.pull-right {
	float: right;
	width: 47%;
}
  
.pull-right ~ * {
	clear: both;
}
  
/*  三栏  */
.column-left{
	float: left;
	width: 33%;
	text-align: left;
}
.column-center{
	display: inline-block;
	width: 33%;
	text-align: left;
}
.column-right{
	float: right;
	width: 33%;
	text-align: left;
}

.box {
	border-radius: 25px;
	background-color: $code-bg;
	padding: 2% 2px 2% 20px;
	text-align: left;
	vertical-align: center;
	border: 5px solid $presentation-heading-color;
}
 
  
 /*   颜色   */
.red {
  color: #FF0000;
}

.blue {
  color: #0000FF;
}

.green {
  color: #00FF00;
}

.brown {
  color: #FF7F00;
}

.yellow {
  color: #FFFF00;
}

.cyan {
  color: #00FFFF;
}

.purple {
  color: #8B00FF;
}



/* 文本字体大小 */
.font10 {
  font-size: 10%;
}

.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}


/*  字体相对大小  */
.large { 
  font-size: 130% 
}

.small { 
  font-size: 70% 
}

.tiny {
  font-size: 40%
}

/* 文本着色  */
.content-box {
    box-sizing: border-box;
    background-color: #e2e2e2; /* lt gray*/
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.content-box-blue { background-color: #F0F8FF; }
.content-box-gray { background-color: #e2e2e2; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #d9edc2; }
.content-box-purple { background-color: #e2e2f9; }
.content-box-red { background-color: #ffcccc; }
.content-box-yellow { background-color: #fef5c4; }
.content-box-blue .remark-inline-code,
.content-box-gray .remark-inline-code,
.content-box-grey .remark-inline-code,
.content-box-army .remark-inline-code,
.content-box-green .remark-inline-code,
.content-box-purple .remark-inline-code,
.content-box-red .remark-inline-code,
.content-box-yellow .remark-inline-code {
  background: none;
}


/*   对齐方式   */
.alignleft {
  display: inline;
  float: left;
}

.alignright {
  display: inline;
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin:auto;
}
